# =========================
# Ambiente Virtual
# =========================
venv/
.env/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Arquivos de configuração
# =========================
.env
*.env

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.log
*.tmp